{% extends 'base.html.twig' %}
{% block title %}Livres{% endblock %}
{% block body %}
<div class="container-fluid mb-5">
    <div class="container">
        <div class="col-md-12 mt-5">
            <div class"row">
                {% for livres in livres %}
                    <div class="col-md-12 mb-2 "><a class="h2-livre" href="{{path('livres', {'id' :livres.id}) }}">{{livres.title}}</a></div>
                    <div class="col-md-12 mb-2 "><a class="h2-livre" href="{{path('livres', {'id' :livres.id}) }}">{{livres.author.firstname}}&nbsp{{livres.author.lastname}}</a></div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}